In [1]:
import pandas as pd
import numpy as np
import collections as c

In [48]:
stats1 = pd.read_csv('master_thesis/input/f_battingstats_57_86.csv')
stats2 = pd.read_csv('master_thesis/input/f_battingstats_87_17.csv')
stats = pd.concat([stats1, stats2])

In [49]:
#シーズンごと
season = list(range(1957, 2018))

In [50]:
data = {}

for x in season:
    data[x] = stats[stats['Season'] == x]
    data[x] = stats[stats['PA'] >= 200]
    
print(data[1995].head(10))

     Season            Name      Team    G   PA  HR    R  RBI  SB    ISO  \
241    1957    Ted Williams   Red Sox  132  546  38   96   87   0  0.343
278    1957   Mickey Mantle   Yankees  144  623  34  121   94  16  0.300
290    1961       Norm Cash    Tigers  159  672  41  119  132  11  0.301
305    1980    George Brett    Royals  117  515  24   87  118  15  0.274
306    1961   Mickey Mantle   Yankees  153  646  54  132  128  12  0.370
318    1962   Mickey Mantle   Yankees  123  502  30   96   89   9  0.284
323    1960    Ted Williams   Red Sox  113  390  29   56   72   1  0.329
327    1981    Mike Schmidt  Phillies  102  434  31   78   91  12  0.328
328    1959  Willie McCovey    Giants   52  219  13   32   38   2  0.302
331    1969  Willie McCovey    Giants  149  623  45  101  126   0  0.336

       ...      WAR  Age    H    OPS   Bat   Fld  Pos   WPA  -WPA  playerid
241    ...      9.7   38  163  1.257  78.8   2.0 -5.4   NaN   NaN   1014040
278    ...     11.4   25  173  1.177  86.2   1.0 -0.8   NaN   NaN   1008082
290    ...     10.2   26  193  1.148  79.7   9.0 -9.5   NaN   NaN   1002043
305    ...      9.1   27  175  1.118  59.2   9.0  0.6  6.14 -6.72   1001400
306    ...     10.3   29  163  1.135  78.6   1.0  0.0   NaN   NaN   1008082
318    ...      6.0   30  121  1.091  57.6 -15.0 -1.1   NaN   NaN   1008082
323    ...      3.4   41   98  1.096  40.1 -16.0 -4.2   NaN   NaN   1014040
327    ...      7.8   31  112  1.080  46.4   9.0  0.6  5.35 -7.57   1011586
328    ...      3.1   21   68  1.085  23.5   1.0 -2.8   NaN   NaN   1008423
331    ...      7.9   31  157  1.108  67.2  -8.0 -8.6   NaN   NaN   1008423

[10 rows x 29 columns]

In [51]:
count = {}

for x in season:
    count[x] = c.Counter(data[x]['AVG'])
    count[x]['AVG'] = round(count[x]['AVG'], 3)
    count[x] = pd.DataFrame.from_dict(count[x], orient = 'index').reset_index()
    count[x]['Season'] = x
    count[x] = count[x][count[x]['index'] != 'AVG']
    count[x].rename(columns = {
        'index':'AVG', '0':'freq'
    }, inplace=True)

print(count[2005])

       AVG    0  Season
0    0.388    2    2005
1    0.365    2    2005
2    0.361    3    2005
3     0.39    1    2005
4    0.317   50    2005
5    0.321   50    2005
6    0.316   47    2005
7    0.354    3    2005
8     0.32   52    2005
9    0.327   25    2005
10   0.314   62    2005
11   0.358    4    2005
12   0.333   26    2005
13   0.366    4    2005
14   0.329   21    2005
15   0.326   31    2005
16   0.302  127    2005
17   0.308   63    2005
18   0.301  139    2005
19   0.328   26    2005
20   0.342   13    2005
21   0.304  111    2005
22   0.295  130    2005
23   0.299   65    2005
24   0.289  166    2005
25   0.275  215    2005
26   0.276  257    2005
27    0.31   67    2005
28   0.355    3    2005
29   0.303  107    2005
..     ...  ...     ...
192  0.159    3    2005
193  0.156    2    2005
194  0.182    4    2005
195  0.177    3    2005
196  0.185    7    2005
197  0.167    7    2005
198  0.189    5    2005
199  0.174    6    2005
200  0.181    7    2005
201   0.17    2    2005
202  0.163    2    2005
203  0.152    1    2005
204   0.15    2    2005
205  0.161    1    2005
206  0.155    1    2005
207  0.135    1    2005
208  0.166    3    2005
209   0.37    3    2005
210  0.362    2    2005
211  0.379    1    2005
212  0.372    4    2005
213  0.356    2    2005
214  0.394    1    2005
215  0.168    2    2005
216  0.162    3    2005
217   0.16    1    2005
218  0.169    4    2005
219  0.158    1    2005
220  0.157    1    2005
221  0.146    1    2005

[222 rows x 3 columns]

In [52]:
count = pd.concat(count[x] for x in season)
count.rename(columns = {'0':'freq'}, inplace = True)
print(count.head(15))

      AVG   0  Season
0   0.388   2    1957
1   0.365   2    1957
2   0.361   3    1957
3    0.39   1    1957
4   0.317  50    1957
5   0.321  50    1957
6   0.316  47    1957
7   0.354   3    1957
8    0.32  52    1957
9   0.327  25    1957
10  0.314  62    1957
11  0.358   4    1957
12  0.333  26    1957
13  0.366   4    1957
14  0.329  21    1957

In [53]:
count.to_csv("master_thesis/output/count_AVG.csv", encoding = 'utf-8')

In [4]:
#5-seasons unit
interval = list(range(0, 12))

season = {}

for x in interval:
    season[x] = list(range(1957 + 5 * x, 1957 + 5 * x + 5))
    
for x in interval:
    for y in season[x]:
        print(y)

1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [47]:
stats1 = pd.read_csv('master_thesis/input/f_battingstats_57_86.csv')
stats2 = pd.read_csv('master_thesis/input/f_battingstats_87_17.csv')
stats = pd.concat([stats1, stats2])
stats.to_csv('master_thesis/output/battingstats_since57.csv', encoding = 'utf-8')