In [1]:
import numpy as np
import pandas as pd

In [2]:
season = list(range(2000, 2018))

In [3]:
stats = pd.read_csv('master_thesis/input/f_battingstats_00to17.csv')

play_stats = {}
for x in season:
    play_stats[x] = stats[stats['Season'] == x]
    
print(play_stats[2015].head(5))

     Season              Name          Team    G   PA  HR    R  RBI  SB  \
11     2015      Bryce Harper     Nationals  153  654  42  118   99   6
88     2015        Joey Votto          Reds  158  695  29   95   80  11
132    2015  Paul Goldschmidt  Diamondbacks  159  695  33  103  110  21
149    2015        Mike Trout        Angels  159  682  41  104   90  11
160    2015    Miguel Cabrera        Tigers  119  511  18   64   76   1

        BB%    ...      wOBA  wRC+  BsR   Off   Def  WAR    H  Age    OPS  \
11   19.0 %    ...     0.461   197  3.6  77.7 -10.2  9.3  172   22  1.109
88   20.6 %    ...     0.427   174 -1.1  58.7 -11.8  7.3  171   31  1.000
132  17.0 %    ...     0.418   163  3.0  54.1  -7.5  7.2  182   27  1.005
149  13.5 %    ...     0.415   171  3.0  58.7   6.6  9.3  172   23  0.991
160  15.1 %    ...     0.413   164 -4.7  33.4  -7.0  4.6  145   32  0.974

     playerid
11      11579
88       4314
132      9218
149     10155
160      1744

[5 rows x 26 columns]

In [4]:
salary_UST = {}
for x in season:
    salary_UST[x] = pd.read_excel('master_thesis/input/MLB_stats_{}.xlsx'.format(x), sheet_name = 'salary_UST')

In [5]:
for x in season:
    salary_UST[x]['Season'] = x
    salary_UST[x] = salary_UST[x].rename(columns = {'TEAM':'TEAM_signed'})

for x in season:
    print(salary_UST[x].head(3))

   RANK            NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Alex Rodriguez         TEX  SS  22000000  1 (2001)     22000000
1     2  Kevin J. Brown         LAD   P  15714286  1 (2001)     15714286
2     3  Carlos Delgado         TOR  1B  13650000  1 (2001)     13650000

   AVG ANNUAL  Season
0    22000000    2000
1    15714286    2000
2    13650000    2000
   RANK            NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Alex Rodriguez         TEX  SS  22000000  1 (2002)     22000000
1     2  Carlos Delgado         TOR  1B  19400000  1 (2002)     19400000
2     3  Kevin J. Brown         LAD   P  15714286  1 (2002)     15714286

   AVG ANNUAL  Season
0    22000000    2001
1    19400000    2001
2    15714286    2001
   RANK            NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Alex Rodriguez         TEX  SS  22000000  1 (2003)     22000000
1     2   Manny Ramirez         BOS  OF  20000000  1 (2003)     20000000
2     3  Carlos Delgado         TOR  1B  18700000  1 (2003)     18700000

   AVG ANNUAL  Season
0    22000000    2002
1    20000000    2002
2    18700000    2002
   RANK            NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Manny Ramirez         BOS  OF  22500000  1 (2004)     22500000
1     2  Carlos Delgado         TOR  1B  19700000  1 (2004)     19700000
2     3     Derek Jeter         NYY  SS  18600000  1 (2004)     18600000

   AVG ANNUAL  Season
0    22500000    2003
1    19700000    2003
2    18600000    2003
   RANK           NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1    Barry Bonds          SF  OF  22000000  1 (2005)     22000000
1     1  Manny Ramirez         BOS  OF  22000000  1 (2005)     22000000
2     3    Derek Jeter         NYY  SS  19600000  1 (2005)     19600000

   AVG ANNUAL  Season
0    22000000    2004
1    22000000    2004
2    19600000    2004
   RANK          NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Derek Jeter         NYY  SS  20600000  1 (2006)     20600000
1     2  Jason Giambi         NYY  1B  20428571  1 (2006)     20428571
2     3  Jeff Bagwell         HOU  1B  19369019  1 (2006)     19369019

   AVG ANNUAL  Season
0    20600000    2005
1    20428571    2005
2    19369019    2005
   RANK           NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Jason Giambi         NYY  DH  23428571  1 (2007)     23428571
1     2    Derek Jeter         NYY  SS  21600000  1 (2007)     21600000
2     3  Manny Ramirez         BOS  OF  17016381  1 (2007)     17016381

   AVG ANNUAL  Season
0    23428571    2006
1    21600000    2006
2    17016381    2006
   RANK           NAME TEAM_signed POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Jason Giambi         NYY  DH  23428571  1 (2008)     23428571
1     2    Derek Jeter         NYY  SS  21600000  1 (2008)     21600000
2     3  Manny Ramirez         BOS  OF  18929923  1 (2008)     18929923

   AVG ANNUAL  Season
0    23428571    2007
1    21600000    2007
2    18929923    2007
   RANK           NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Manny Ramirez         LAD  OF  23854494     1 (2009)     23854494
1     2    Derek Jeter         NYY  SS  21600000     1 (2009)     21600000
2     3  Mark Teixeira         NYY  1B  20625000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    23854494    2008
1    21600000    2008
2    22500000    2008
   RANK           NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1    CC Sabathia         NYY   P  24285714     1 (2010)     24285714
1     2    Derek Jeter         NYY  SS  22600000     1 (2010)     22600000
2     3  Mark Teixeira         NYY  1B  20625000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    24285714    2009
1    22600000    2009
2    22500000    2009
   RANK           NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1   Vernon Wells         LAA  OF  26187500     1 (2011)     26187500
1     2    CC Sabathia         NYY   P  24285714     1 (2011)     24285714
2     3  Mark Teixeira         NYY  1B  23125000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    26187500    2010
1    24285714    2010
2    22500000    2010
   RANK           NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1   Vernon Wells         LAA  OF  24187500     1 (2012)     24187500
1     2  Johan Santana         NYM   P  23145011  6 (2008-13)    137500000
2     3  Mark Teixeira         NYY  1B  23125000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    24187500    2011
1    22916667    2011
2    22500000    2011
   RANK           NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1      Cliff Lee         PHI   P  25000000  5 (2011-15)    120000000
1     2  Johan Santana         NYM   P  24644708  6 (2008-13)    137500000
2     3  Mark Teixeira         NYY  1B  23125000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    24000000    2012
1    22916667    2012
2    22500000    2012
   RANK           NAME TEAM_signed POS    SALARY         YEARS  TOTAL VALUE  \
0     1   Zack Greinke         LAD  SP  28000000   6 (2013-18)    147000000
1     2      Cliff Lee         PHI  SP  25000000   5 (2011-15)    120000000
2     3  Robinson Cano         SEA  2B  24000000  10 (2014-23)    240000000

   AVG ANNUAL  Season
0    24500000    2013
1    24000000    2013
2    24000000    2013
   RANK              NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Justin Verlander         DET  SP  28000000  7 (2013-19)    180000000
1     2      Zack Greinke         LAD  SP  27000000  6 (2013-18)    147000000
2     3     Josh Hamilton         LAA  RF  25000000  5 (2013-17)    125000000

   AVG ANNUAL  Season
0    25714286    2014
1    24500000    2014
2    25000000    2014
   RANK             NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Clayton Kershaw         LAD  SP  33000000  7 (2014-20)    215000000
1     2     Zack Greinke         ARI  SP  31799030  6 (2016-21)    206500000
2     3      David Price         BOS  SP  30000000  7 (2016-22)    217000000

   AVG ANNUAL  Season
0    30714286    2015
1    34416667    2015
2    31000000    2015
   RANK             NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Clayton Kershaw         LAD  SP  33000000  7 (2014-20)    215000000
1     2     Zack Greinke         ARI  SP  31876966  6 (2016-21)    206500000
2     3      David Price         BOS  SP  30000000  7 (2016-22)    217000000

   AVG ANNUAL  Season
0    30714286    2016
1    34416667    2016
2    31000000    2016
   RANK             NAME TEAM_signed POS    SALARY        YEARS  TOTAL VALUE  \
0     1       Mike Trout         LAA  OF  34083333  6 (2015-20)    144500000
1     2  Clayton Kershaw         LAD  SP  34000000  7 (2014-20)    215000000
2     3     Zack Greinke         ARI  SP  31954483  6 (2016-21)    206500000

   AVG ANNUAL  Season
0    24083333    2017
1    30714286    2017
2    34416667    2017

In [6]:
for x in season:
    play_stats[x] = play_stats[x].rename(columns = {'Name':'NAME', 'Team':'TEAM_played'})
    play_stats[x] = play_stats[x].replace({
    'Giants':'SFG', 'Cardinals':'STL', 'Indians':'CLE', 'Rockies':'COL', 'Blue Jays':'TOR', 'Athletics':'OAK',
    'Cubs':'CHC', 'Nationals':'WSH', 'Red Sox':'BOS', 'White Sox':'CHW', 'Tigers':'DET', 'Twins':'MIN',
    'Diamondbacks':'ARI', 'Orioles':'BAL', 'Reds':'CIN', 'Astros':'HOU',  'Royals':'KCR', 'Angels':'LAA',
    'Dodgers':'LAD', 'Marlins':'MIA', 'Yankees':'NYY', 'Mets':'NYM', 'Phillies':'PHI', 'Pirates':'PIT',
    'Padres':'SDP', 'Mariners':'SEA', 'Rays':'TBR', 'Rangers':'TEX', 'Brewers':'MIL', 'Braves':'ATL',
    '- - -':'PTms', 'Devil Rays':'TBR', 'Expos':'WSH'
    })

In [7]:
play_stats[x].set_index(['NAME', 'Season'])

for x in season:
    salary_UST[x].set_index(['NAME', 'Season'])

In [8]:
stats_salary = {}

for x in season:
    stats_salary[x] = pd.merge(play_stats[x], salary_UST[x], on = ['NAME','Season'], how = 'left')
        
print(stats_salary[2002].head(5))

   Season           NAME TEAM_played    G   PA  HR    R  RBI  SB     BB%  \
0    2002    Barry Bonds         SFG  143  612  46  117  110   9  32.4 %
1    2002      Jim Thome         CLE  147  613  52  101  118   1  19.9 %
2    2002  Manny Ramirez         BOS  120  518  33   84  107   0  14.1 %
3    2002    Brian Giles         PIT  153  644  38   95  103  15  21.0 %
4    2002   Jason Giambi         NYY  155  689  41  120  122   2  15.8 %

      ...     Age    OPS  playerid  RANK  TEAM_signed  POS      SALARY  \
0     ...      37  1.381      1109  10.0           SF   OF  15500000.0
1     ...      31  1.122       409  35.0          PHI   1B  11166667.0
2     ...      30  1.097       210   2.0          BOS   OF  20000000.0
3     ...      31  1.072       990  59.0          PIT   OF   8833333.0
4     ...      31  1.034       818  33.0          NYY   1B  11428571.0

      YEARS  TOTAL VALUE  AVG ANNUAL
0  1 (2003)   15500000.0  15500000.0
1  1 (2003)   11166667.0  11166667.0
2  1 (2003)   20000000.0  20000000.0
3  1 (2003)    8833333.0   8833333.0
4  1 (2003)   11428571.0  11428571.0

[5 rows x 33 columns]

In [9]:
stats_salary = pd.concat(stats_salary[x] for x in season)

In [37]:
stats_salary.loc[stats_salary['AVG'] >= 0.3,'AVG_above'] = True
stats_salary.loc[stats_salary['AVG'] < 0.3,'AVG_above'] = False
stats_salary['Log AVG ANNUAL'] = np.log(stats_salary['AVG ANNUAL'])
stats_salary.loc[stats_salary['Log AVG ANNUAL'] == -np.inf, 'Log AVG ANNUAL'] = 0
print(np.isinf(stats_salary['Log AVG ANNUAL']).any())
print(stats_salary.head(5))

False
   Season            NAME TEAM_played    G   PA  HR    R  RBI  SB     BB%  \
0    2000    Mark McGwire         STL   89  321  32   60   73   1  23.7 %
1    2000   Manny Ramirez         CLE  118  532  38   92  122   1  16.2 %
2    2000     Todd Helton         COL  160  697  42  138  147   5  14.8 %
3    2000  Carlos Delgado         TOR  162  711  41  115  137   0  17.3 %
4    2000    Jason Giambi         OAK  152  664  43  108  137   2  20.6 %

        ...       playerid   RANK  TEAM_signed  POS      SALARY     YEARS  \
0       ...        1008559   18.0          STL   1B  11000000.0  1 (2001)
1       ...            210    7.0          BOS   OF  13050000.0  1 (2001)
2       ...            432  144.0          COL   1B   4950000.0  1 (2001)
3       ...           1297    3.0          TOR   1B  13650000.0  1 (2001)
4       ...            818  172.0          OAK   1B   4103333.0  1 (2001)

   TOTAL VALUE  AVG ANNUAL  AVG_above  Log AVG ANNUAL
0   11000000.0  11000000.0       True       16.213406
1   13050000.0  13050000.0       True       16.384299
2    4950000.0   4950000.0       True       15.414898
3   13650000.0  13650000.0       True       16.429250
4    4103333.0   4103333.0       True       15.227310

[5 rows x 35 columns]

C:\Users\T-Reio\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
stats_salary.to_csv('master_thesis/output/stats_salary_00to17.csv', encoding = 'utf-8')