In [1]:
import numpy as np
import pandas as pd

In [12]:
season = list(range(1987, 2018))

In [13]:
pitch = {}
bat = {}
stand = {}

for x in season:
    pitch[x] = pd.read_excel('master_thesis/input/MLB_stats_{}.xlsx'.format(x), sheet_name = 'team_pitching')
    bat[x] = pd.read_excel('master_thesis/input/MLB_stats_{}.xlsx'.format(x), sheet_name = 'team_batting')
    stand[x] = pd.read_excel('master_thesis/input/MLB_stats_{}.xlsx'.format(x), sheet_name = 'team_standings')
    
print(pitch[2007].head(5))
print(bat[2000].head(5))
print(stand[2016].head(5))

    Tm  #P  PAge  RA/G   W   L   W-L%   ERA    G   GS  ...     BF  ERA+   FIP  \
0  ARI  26  28.2  4.52  90  72  0.556  4.13  162  162  ...   6216   115  4.52
1  ATL  28  29.4  4.52  84  78  0.519  4.11  162  162  ...   6263   107  4.45
2  BAL  27  29.0  5.36  69  93  0.426  5.17  162  162  ...   6418    89  4.79
3  BOS  20  31.1  4.06  96  66  0.593  3.87  162  162  ...   6071   123  4.14
4  CHC  22  28.4  4.26  85  77  0.525  4.04  162  162  ...   6186   115  4.36

    WHIP   H9  HR9  BB9  SO9  SO/W   LOB
0  1.382  9.0  1.1  3.4  6.8  1.99  1161
1  1.359  8.9  1.1  3.3  6.8  2.06  1161
2  1.520  9.3  1.0  4.4  6.8  1.56  1234
3  1.273  8.4  0.9  3.0  7.2  2.38  1098
4  1.322  8.3  1.0  3.6  7.5  2.11  1156

[5 rows x 36 columns]
    Tm  #Bat  BatAge   R/G    G    PA    AB    R     H   2B  ...     SLG  \
0  ANA    45    27.6  5.33  162  6373  5628  864  1574  309  ...   0.472
1  ARI    41    30.8  4.89  162  6241  5527  792  1466  282  ...   0.429
2  ATL    47    30.8  5.00  162  6275  5489  810  1490  274  ...   0.429
3  BAL    50    32.1  4.90  162  6238  5549  794  1508  310  ...   0.435
4  BOS    52    29.3  4.89  162  6371  5630  792  1503  316  ...   0.423

     OPS  OPS+    TB  GDP  HBP  SH  SF  IBB   LOB
0  0.825   105  2659  126   47  47  43   43  1173
1  0.763    88  2373  114   59  61  58   37  1128
2  0.775    95  2353  127   59  87  45   38  1192
3  0.776   100  2414  148   49  27  54   34  1129
4  0.764    90  2384  115   42  40  48   40  1226

[5 rows x 29 columns]
   Rk   Tm  Lg    G    W   L   W-L%    R   RA  Rdiff  ...    Luck  Inter  \
0   1  CHC  NL  162  103  58  0.640  5.0  3.4    1.6  ...      -4  43235
1   2  TEX  AL  162   95  67  0.586  4.7  4.7    0.0  ...      13  43294
2   3  WSN  NL  162   95  67  0.586  4.7  3.8    0.9  ...      -2  43442
3   4  CLE  AL  161   94  67  0.584  4.8  4.2    0.6  ...       3  43294
4   5  BOS  AL  162   93  69  0.574  5.4  4.3    1.1  ...      -5  43265

    Home   Road  ExInn                 1Run   vRHP   vLHP  â‰¥.500  <.500
0  57-24  46-34  43347                22-23  75-41  28-17  31-25  72-33
1  53-28  42-39  43257  1936-11-01 00:00:00  73-48  22-19  60-31  35-36
2  50-31  45-36  43228                26-19  75-53  20-14  31-29  64-38
3  53-28  41-39  43257                28-21  63-47  31-20  48-43  46-24
4  47-34  46-35  43285                20-24  73-52  20-17  55-48  38-21

[5 rows x 23 columns]

In [14]:
for x in season:
    pitch[x].set_index('Tm')
    bat[x].set_index('Tm')
    stand[x].set_index('Tm')

In [15]:
sfil = ['Tm', 'Lg', 'G', 'W', 'L', 'W-L%', 'R', 'RA', 'SRS', 'pythWL', 'Luck']
pfil = ['Tm', '#P', 'PAge', 'RA/G', 'ERA','H','ER', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'BK', 'WP', 'ERA+', 'FIP', 'WHIP',
        'H9', 'HR9', 'BB9', 'SO9', 'SO/W', 'LOB']
bfil = ['Tm', '#Bat', 'BatAge', 'R/G', 'PA', 'AB', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 
        'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'HBP', 'SH', 'SF', 'IBB', 'LOB']

In [16]:
for x in season:
    stand[x] = stand[x].filter(sfil)
    pitch[x] = pitch[x].filter(pfil)
    bat[x] = bat[x].filter(bfil)

In [17]:
team_stats = {}

for x in season:
    team_stats[x] = pd.merge(pitch[x], bat[x], on = 'Tm')
    team_stats[x] = pd.merge(stand[x], team_stats[x], on = 'Tm')
    team_stats[x]['Season'] = x

In [18]:
for x in season:
    print(team_stats[x].head(1))

    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG  OPS  \
0  DET  AL  162  98  64  0.605  5.5  4.5  0.9  96-66   ...    0.451  0.8

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   114  2548     46  39  56     44   1227    1987

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  OAK  AL  162  104  58  0.642  4.9  3.8  1.0  100-62   ...    0.399  0.736

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   109  2237     65  54  55     29   1158    1988

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  OAK  AL  162  99  63  0.611  4.4  3.6  0.8  97-65   ...    0.381  0.712

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   104  2065     34  36  62     37   1110    1989

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  OAK  AL  162  103  59  0.636  4.5  3.5  0.9  99-63   ...    0.391  0.727

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   108  2124     46  60  48     38   1195    1990

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  PIT  NL  162  98  64  0.605  4.7  3.9  0.7  95-67   ...    0.398  0.737

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   108  2170     35  99  66     62   1188    1991

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  ATL  NL  162  98  64  0.605  4.2  3.5  0.6  94-68   ...    0.388  0.703

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    93  2124     26  93  50     58   1131    1992

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  ATL  NL  162  104  58  0.642  4.7  3.5  1.2  104-58   ...    0.408  0.739

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    97  2248     36  73  50     46   1165    1993

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  MON  NL  114  74  40  0.649  5.1  4.0  1.0  70-44   ...    0.435  0.778

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   101  1741     40  53  42     39    859    1994

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  CLE  AL  144  100  44  0.694  5.8  4.2  1.4  93-51   ...    0.479  0.839

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   116  2407     35  31  48     40   1018    1995

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  CLE  AL  161  99  62  0.615  5.9  4.8  1.1  96-65   ...    0.475  0.844

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   113  2700     43  34  57     44   1224    1996

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  ATL  NL  162  101  61  0.624  4.9  3.6  1.3  103-59   ...    0.426  0.769

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    99  2354     52  83  52     45   1177    1997

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...     SLG    OPS  \
0  NYY  AL  162  114  48  0.704  6.0  4.0  1.8  108-54   ...    0.46  0.825

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   116  2598     57  32  59     34   1203    1998

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  ATL  NL  162  103  59  0.636  5.2  4.1  1.2  98-64   ...    0.436  0.777

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    96  2427     53  74  47     62   1155    1999

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  SFG  NL  162  97  65  0.599  5.7  4.6  1.0  97-65   ...    0.472  0.834

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   115  2605     51  73  66     60   1213    2000

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  SEA  AL  162  116  46  0.716  5.7  3.9  1.9  109-53   ...    0.445  0.805

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   117  2530     62  48  70     54   1257    2001

[1 rows x 59 columns]
    Tm  Lg    G    W   L  W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  NYY  AL  161  103  58  0.64  5.6  4.3  1.2  99-62   ...    0.455  0.809

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   114  2547     72  23  41     48   1191    2002

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  ATL  NL  162  101  61  0.624  5.6  4.6  1.1  96-66   ...    0.475  0.824

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   112  2696     49  65  49     46   1170    2003

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...     SLG    OPS  \
0  STL  NL  162  105  57  0.648  5.3  4.1  1.1  100-62   ...    0.46  0.804

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   107  2553     51  73  70     64   1156    2004

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  STL  NL  162  100  62  0.617  5.0  3.9  0.7  98-64   ...    0.423  0.762

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    98  2343     62  77  35     60   1152    2005

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  NYY  AL  162  97  65  0.599  5.7  4.7  1.2  95-67   ...    0.461  0.824

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   111  2607     72  34  49     43   1253    2006

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  CLE  AL  162  96  66  0.593  5.0  4.3  0.8  91-71   ...    0.428  0.771

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   102  2397     80  32  59     56   1215    2007

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  LAA  AL  162  100  62  0.617  4.7  4.3  0.7  88-74   ...    0.413  0.743

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    95  2287     52  32  50     52   1087    2008

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  NYY  AL  162  103  59  0.636  5.6  4.6  1.3  95-67   ...    0.478  0.839

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   114  2703     54  31  39     35   1238    2009

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  PHI  NL  162  97  65  0.599  4.8  4.0  0.8  95-67   ...    0.413  0.745

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    98  2307     63  44  43     69   1194    2010

[1 rows x 59 columns]
    Tm  Lg    G    W   L  W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  PHI  NL  162  102  60  0.63  4.4  3.3  1.0  103-59   ...    0.395  0.717

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    96  2202     56  65  38     52   1197    2011

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG   OPS  \
0  WSN  NL  162  98  64  0.605  4.5  3.7  0.7  96-66   ...    0.428  0.75

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   101  2401     41  50  36     43   1127    2012

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  STL  NL  162  97  65  0.599  4.8  3.7  1.0  101-61   ...    0.401  0.733

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   102  2231     64  56  44     38   1087    2013

[1 rows x 59 columns]
    Tm  Lg    G   W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  LAA  AL  162  98  64  0.605  4.8  3.9  1.0  96-66   ...    0.406  0.728

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   110  2295     60  26  54     42   1113    2014

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS pythWL   ...      SLG    OPS  \
0  STL  NL  162  100  62  0.617  4.0  3.2  0.5  96-66   ...    0.394  0.716

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0    95  2163     66  39  42     47   1152    2015

[1 rows x 59 columns]
    Tm  Lg    G    W   L  W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  CHC  NL  162  103  58  0.64  5.0  3.4  1.3  107-54   ...    0.429  0.772

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   104  2359     96  42  37     45   1217    2016

[1 rows x 59 columns]
    Tm  Lg    G    W   L   W-L%    R   RA  SRS  pythWL   ...      SLG    OPS  \
0  LAD  NL  162  104  58  0.642  4.8  3.6  0.9  102-60   ...    0.437  0.771

   OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   103  2362     64  31  38     41   1146    2017

[1 rows x 59 columns]

In [19]:
team_season_stats = pd.concat([team_stats[x] for x in season])

team_season_stats = team_season_stats[[
    'Season', 'Tm', 'Lg', 'G', 'W', 'L', 'W-L%', 'R', 'RA', 'SRS', 'pythWL', 'Luck',
    '#P', 'PAge', 'RA/G', 'ERA','H_x','ER', 'HR_x', 'BB_x', 'IBB_x', 'SO_x', 'HBP_x', 'BK', 'WP', 'ERA+', 'FIP', 'WHIP',
    'H9', 'HR9', 'BB9', 'SO9', 'SO/W', 'LOB_x',
    '#Bat', 'BatAge', 'R/G', 'PA', 'AB', 'H_y', '2B', '3B', 'HR_y', 'RBI', 'SB', 'CS', 'BB_y', 'SO_y', 'BA', 
    'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'HBP_y', 'SH', 'SF', 'IBB_y', 'LOB_y'
]]

In [20]:
team_season_stats.to_csv("master_thesis/output/team_stats_87to17.csv", index = False, encoding = 'utf-8')

In [11]:
print(team_stats[1998])

     Tm  Lg    G    W    L   W-L%    R   RA  SRS  pythWL   ...      SLG  \
0   NYY  AL  162  114   48  0.704  6.0  4.0  1.8  108-54   ...    0.460
1   ATL  NL  162  106   56  0.654  5.1  3.6  1.4  106-56   ...    0.453
2   HOU  NL  162  102   60  0.630  5.4  3.8  1.4  106-56   ...    0.436
3   SDP  NL  162   98   64  0.605  4.6  3.9  0.6   93-69   ...    0.409
4   BOS  AL  162   92   70  0.568  5.4  4.5  0.9   94-68   ...    0.463
5   CHC  NL  163   90   73  0.552  5.1  4.9  0.2   85-78   ...    0.433
6   CLE  AL  162   89   73  0.549  5.2  4.8  0.4   87-75   ...    0.448
7   SFG  NL  163   89   74  0.546  5.2  4.5  0.6   91-72   ...    0.421
8   TEX  AL  162   88   74  0.543  5.8  5.4  0.4   87-75   ...    0.462
9   NYM  NL  162   88   74  0.543  4.4  4.0  0.4   88-74   ...    0.394
10  TOR  AL  163   88   74  0.543  5.0  4.7  0.3   85-77   ...    0.448
11  ANA  AL  162   85   77  0.525  4.9  4.8  0.0   81-81   ...    0.415
12  STL  NL  163   83   79  0.512  5.0  4.8  0.1   84-78   ...    0.441
13  LAD  NL  162   83   79  0.512  4.1  4.2 -0.1   80-82   ...    0.387
14  CHW  AL  163   80   82  0.494  5.3  5.7 -0.4   75-87   ...    0.444
15  BAL  AL  162   79   83  0.488  5.0  4.8  0.2   84-78   ...    0.447
16  COL  NL  162   77   85  0.475  5.1  5.3 -0.2   78-84   ...    0.461
17  CIN  NL  162   77   85  0.475  4.6  4.7 -0.1   80-82   ...    0.402
18  SEA  AL  161   76   85  0.472  5.3  5.3  0.1   81-80   ...    0.468
19  PHI  NL  162   75   87  0.463  4.4  5.0 -0.5   72-90   ...    0.395
20  OAK  AL  162   74   88  0.457  5.0  5.3 -0.3   76-86   ...    0.397
21  MIL  NL  162   74   88  0.457  4.4  5.0 -0.7   71-91   ...    0.396
22  KCR  AL  161   72   89  0.447  4.4  5.6 -1.1   64-97   ...    0.399
23  MIN  AL  162   70   92  0.432  4.5  5.0 -0.5   73-89   ...    0.389
24  PIT  NL  163   69   93  0.426  4.0  4.4 -0.4   74-88   ...    0.374
25  MON  NL  162   65   97  0.401  4.0  4.8 -0.8   67-95   ...    0.394
26  ARI  NL  162   65   97  0.401  4.1  5.0 -0.8   66-96   ...    0.393
27  DET  AL  162   65   97  0.401  4.5  5.3 -0.8   68-94   ...    0.415
28  TBD  AL  162   63   99  0.389  3.8  4.6 -0.7   67-95   ...    0.385
29  FLA  NL  162   54  108  0.333  4.1  5.7 -1.5  58-104   ...    0.373

      OPS  OPS+    TB  HBP_y  SH  SF  IBB_y  LOB_y  Season
0   0.825   116  2598     57  32  59     34   1203    1998
1   0.795   107  2483     61  76  46     37   1148    1998
2   0.792   109  2458     72  58  49     52   1217    1998
3   0.739   100  2243     48  56  45     40   1179    1998
4   0.810   107  2591     70  35  52     32   1150    1998
5   0.771    99  2448     39  67  37     51   1162    1998
6   0.795   103  2518     41  30  59     35   1169    1998
7   0.774   108  2367     44  81  53     53   1235    1998
8   0.819   108  2618     39  41  54     27   1184    1998
9   0.724    91  2170     37  88  48     55   1193    1998
10  0.787   104  2499     87  43  49     43   1133    1998
11  0.751    93  2339     48  49  41     31   1180    1998
12  0.781   104  2465     42  68  34     65   1200    1998
13  0.698    87  2114     36  91  43     31   1069    1998
14  0.782   105  2477     47  38  59     34   1104    1998
15  0.794   107  2487     58  44  44     30   1187    1998
16  0.808    95  2594     37  98  41     29   1138    1998
17  0.739    92  2209     37  78  49     39   1183    1998
18  0.812   110  2632     57  36  48     26   1189    1998
19  0.721    88  2218     45  65  65     44   1179    1998
20  0.735    94  2181     55  58  46     22   1159    1998
21  0.726    91  2195     66  61  32     36   1148    1998
22  0.724    87  2215     60  45  65     24   1140    1998
23  0.717    86  2193     45  18  52     33   1151    1998
24  0.686    78  2057     91  78  56     22   1089    1998
25  0.704    86  2133     60  87  37     31   1068    1998
26  0.707    85  2157     64  45  27     32   1104    1998
27  0.738    91  2353     62  16  45     25   1131    1998
28  0.706    83  2136     37  53  38     24   1155    1998
29  0.690    86  2072     45  70  29     30   1132    1998

[30 rows x 59 columns]